<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
	<div th:fragment="header" id="header">
		<table>
			<tr>
				<td width="15%" ><img th:src="@{/image/j_image.jpg}" width="100" height="100" /></td>
			</tr>
		</table>

	</div>
	<div th:fragment="menu" id="menu">
	
	</div>

	<footer th:fragment="footer">
		<a href="Home" th:href="@{/}">Back to Home</a> <br /> <small>Now
			is: <b th:text="${execInfo.now.time}"></b>
		</small> <br /> <small> (c) Jinder, ISS, NUS 2021</small>
	</footer>
</body>
</html>