<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:fragment="header" id="header">
		<table>
			<tr>
				<td width="15%"><img th:src="@{/image/j_image.jpg}"
					width="100" height="100" /></td>
			</tr>
		</table>
	</div>
	<div th:fragment="menu" id="menu">
 		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<span th:if="${session.usession != null AND session.asession == null}"><a class="navbar-brand" href="Recommended Jobs" th:href="@{/job/recommendedjobs}">Jinder</a></span>
					<span th:if="${session.asession != null}"><a class="navbar-brand" href="Jobs Listing" th:href="@{/job/adminlist}">Jinder</a></span>
					<span th:if="${session.usession == null AND session.asession == null}"><a class="navbar-brand" href="Home" th:href="@{/}">Jinder</a></span>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<span th:if="${session.usession != null}" class="glyphicon glyphicon-user"></span>
						<span th:if="${session.usession != null}" th:text=${session.usession.userName}>User name </span>
						<span th:if="${session.asession != null}" class="glyphicon glyphicon-user"></span>
						<span th:if="${session.asession != null}" th:text=${session.asession.userName}>Admin User name </span></li>
					<li>
						<a th:if="${session.usession == null AND session.asession == null}" href="Login" th:href="@{/jobseeker/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
						<a th:if="${session.usession != null}" href="Logout" th:href="@{/jobseeker/logout}"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
						
						<a th:if="${session.asession != null}" href="Logout" th:href="@{/admin/logout}"><span class="glyphicon glyphicon-log-out"></span>Log out</a>
					</li>
				</ul>
			</div>
		</nav> 
	</div>
	<footer th:fragment="footer">
		<span th:if="${session.usession == null}"><a href="Home" class="btn btn-success btn-sm" th:href="@{/}">Back to Home</a></span>
		<span th:if="${session.usession != null}"><a href="Jobs Listing" class="btn btn-info btn-sm" th:href="@{/job/list}">Back to Jobs Listing</a></span>
		<span th:if="${session.asession != null}"><a href="Jobs Listing" class="btn btn-info btn-sm" th:href="@{/job/adminlist}">Back to Jobs Listing</a></span>
		<br> 
		<small>Now is: <b th:text="${execInfo.now.time}"></b></small> 
		<br> 
		<small> (C) Jinder, ISS, NUS 2021</small>
	</footer>
</body>
</html>