<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<title>Admin Details</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" media="all" type="text/css"
	th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
	<div align="center">
		<input type="button" value="Jobs Listing"
			onclick="window.location.href='/job/adminlist'; return false"
			class="btn btn-info btn-lg" /> 
		<input type="button" value="Log Out"
			onclick="window.location.href='/admin/logout'; return false"
			class="btn btn-danger btn-lg" /> 

	</div>
	<table width="100%" class="center">
		<tr>
			<td width="30%"></td>
			<td width="40%"><h1>Admin Account</h1></td>
			<td width="30%"></td>
		</tr>
	</table>
	<table th:object="${admin}" class="center">
		<tr>
			<td>Full Name</td>
			<td th:text="*{fullName}">fullName</td>
		</tr>
		<tr>
			<td>User Name</td>
			<td th:text="*{userName}">userName</td>
		</tr>
		<tr>
			<td>Email Address</td>
			<td th:text="*{emailAddress}">emailAddress</td>
		</tr>
		<tr>
			<td>PhoneNo</td>
			<td th:text="*{phoneNo}">phoneNo</td>
		</tr>
		<tr>
			<td><a href="editadmin.html" class="btn btn-success"
				th:href="@{/admin/edit}">Edit User</a></td>
		</tr>
	</table>


	<br>
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>