<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<title>Edit User</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" media="all" type="text/css"
	th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
	<div align="center">
		<input type="button" value="Log Out"
			onclick="window.location.href='/user/logout'; return false"
			class="btn btn-info btn-lg" /> 
	</div>
	<table width="100%" class="center">
		<tr align="center">
			<td width="30%"></td>
			<td align="center" width="40%"><h1>Edit User</h1></td>
			<td width="30%"></td>
		</tr>
	</table>
	<form action="#" th:object="${user}" th:action="@{/user/save1}"
		method="post">
		<input type="hidden" th:field="*{id}">
		<fieldset>
			Full Name: <input type="text" th:field="*{fullName}">
			<p class="error-list" th:if="${#fields.hasErrors('fullName')}"
				th:errors="*{fullName}"></p>
		</fieldset>
		<fieldset>
			User Name: <input type="text" th:field="*{userName}">
			<p class="error-list" th:if="${#fields.hasErrors('userName')}"
				th:errors="*{userName}"></p>
			<p th:text="${duplicate}"></p>
		</fieldset>
		<fieldset>
			Password: <input type="password" th:field="*{password}">
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
		</fieldset>
		<fieldset>
			Email Address: <input type="text" th:field="*{emailAddress}">
			<p th:if="${#fields.hasErrors('emailAddress')}"
				th:errors="*{emailAddress}"></p>
			<p th:text="${duplicate}"></p>
		</fieldset>
		<fieldset>
			Address: <input type="text" th:field="*{address}">
			<p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
		</fieldset>
		<fieldset>
			PhoneNo: <input type="text" th:field="*{phoneNo}">
			<p th:if="${#fields.hasErrors('phoneNo')}" th:errors="*{phoneNo}"></p>
		</fieldset>
		<fieldset>
			<input type="submit" class="btn btn-success" value="Save changes" />
			&nbsp; &nbsp; <input type="reset" class="btn btn-danger"
				value="Reset" />
		</fieldset>
	</form>
	<br>
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>