<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<title>Welcome!</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div th:replace="fragments/general.html :: menu"></div>
	<br>
	<table style="margin-left:auto;margin-right:auto;">
		<tr>
			<td>
				<div align="center">
					<img alt="" th:src="@{/image/image.png}" width="800" height="800"/>
				</div>
			</td>
			<td>
				<div align="center">
					<img alt="" th:src="@{/image/jinderinverse.png}" width="200" height="100"/>
					<br>
					<br>
					<br>
					<input type="button" value="Admin"
						onclick="window.location.href='/admin/login'; return false"
						class="btn btn-primary btn-lg" /> <input type="button"
						value="Job Seeker"
						onclick="window.location.href='/jobseeker/login'; return false"
						class="btn btn-warning btn-lg" />
				</div>
			</td>
		</tr>
	</table>
	<br>
	<br>
	<br>
</body>
</html>