<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<title>Jobs Listing</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" media="all" type="text/css"
	th:href="@{/css/style.css}" />
</head>
<body>
	<div th:replace="fragments/general.html :: menu"></div>
	<br>
	<div align="center">
		<span th:if="${session.usession != null}">
		<input type="button" value="Recommended Jobs"
			onclick="window.location.href='/job/recommendedjobs'; return false"
			class="btn btn-warning btn-lg" /> 			
		<input type="button" value="Jobs Dashboard"
			onclick="window.location.href='/jobseeker/data'; return false"
			class="btn btn-primary btn-lg" /> 
		</span>
	</div>
	<br>
	<table width="100%" class="center">
		<tr align="center">
			<td width="30%"></td>
			<td width="40%"><h1
					th:if="${jobs.totalPages > 0}">Jobs Listing</h1></td>
			<td width="30%"></td>
		</tr>
	</table>
	
	<!-- search bar -->
	<form th:action="@{/job/list}" th:if="${jobs.totalPages > 0}">
		<h4 style="margin-left:50px; text-align:left">Search: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required /> &nbsp; 
				<input type="submit" value="Search" /> &nbsp; 
				<input type="button" value="Clear" id="btnClear" th:onclick="'window.location.href = \'' + @{/job/list(progLang=${lastSelected},size=${jobs.size})} + '\''" /> 
		Records per page: 
		<select name="size" onchange="this.form.submit()">
			<option th:unless="${jobs.size == 5}" value="5">5</option>
			<option th:if="${jobs.size == 5}" value="5" selected>5</option>
			<option th:unless="${jobs.size == 10}" value="10">10</option>
			<option th:if="${jobs.size == 10}" value="10" selected>10</option>
			<option th:unless="${jobs.size == 15}" value="15">15</option>
			<option th:if="${jobs.size == 15}" value="15" selected>15</option>
			<option th:unless="${jobs.size == 20}" value="20">20</option>
			<option th:if="${jobs.size == 20}" value="20" selected>20</option>
			<option th:unless="${jobs.size == 25}" value="25">25</option>
			<option th:if="${jobs.size == 25}" value="25" selected>25</option>
		</select></h4>
		<br>
		<h4 style="margin-left:50px; text-align:left">Programming Language: 
		<select name="progLang" onchange="this.form.submit()" >
			<option th:if="${lastSelected == ''}" value="" selected>All</option>
			<option th:unless="${lastSelected == ''}" value="">All</option>
			<option th:each="progLang: ${T(sg.edu.iss.jinder.model.ProgLang).values()}" 
					th:value="${progLang}"
					th:text="${progLang}"
					th:selected="${progLang.isSelected(lastSelected)}" >
			</option>
		</select></h4>
	</form>

	<!-- Jobs List view -->
	<div th:unless="${jobs.totalPages > 0}">
		<h2>No jobs available for viewing</h2>
	</div>
	<table class="table table-striped table-hover center"
		th:if="${jobs.totalPages > 0}">
		<thead>
			<tr>
				<th th:style="'display:none'">Job ID</th>
				<th>Company Name</th>
				<th>Job Title</th>
				<th>Job Description</th>
				<th></th>
			</tr>
		</thead>
		<tr th:each="job: ${jobs}" class="table-row">
			<td th:style="'display:none'" th:text=${job.id+1}>Id</td>
			<td id="text" th:text=${job.companyName}>Name</td>
			<td th:text=${job.jobTitle}>Title</td>
			<td th:if="${#strings.length(job.jobDescription)>50}" th:text="${job.jobDescription.substring(0, 50) + '...'}">Description</td>
			<td th:unless="${#strings.length(job.jobDescription)>50}" th:text="${job.jobDescription}">Description</td>
			<td><span th:if="${session.usession != null}">
					<a href="jobdetail.html" class="btn btn-success"
					th:href="@{/job/detail/}+${job.id}">Click for more details</a>
				</span>
				<span th:if="${session.asession != null}">
					<a href="jobdetail.html" class="btn btn-success"
					th:href="@{/job/detail/}+${job.id}">Click for more details</a>
				</span>
			</td>
		</tr>
	</table>
	
	<div th:if="${jobs.totalPages > 0}" class="pagination">
		<a style="margin-left:675px" 
			th:href="@{/job/list(size=${jobs.size}, page=1, keyword=${keyword}, progLang=${lastSelected})}"
			th:text="First"></a>
		<a
			th:if="${jobs.totalPages < 5}"
			th:each="pageNumber : ${pageNumbers}"
			th:href="@{/job/list(size=${jobs.size}, page=${pageNumber}, keyword=${keyword}, progLang=${lastSelected})}"
			th:text="' | ' + ${pageNumber} + ' | '"
			th:class="${pageNumber==jobs.number + 1} ? active"></a>
		<a
			th:if="${jobs.number < 2}"
			th:unless="${jobs.totalPages < 5}"
			th:each="pageNumber : ${#numbers.sequence(1, 5)}"
			th:href="@{/job/list(size=${jobs.size}, page=${pageNumber}, keyword=${keyword}, progLang=${lastSelected})}"
			th:text="' | ' + ${pageNumber} + ' | '"
			th:class="${pageNumber==jobs.number + 1} ? active"></a>
		<a
			th:if="${jobs.number >= 2 && jobs.number <= jobs.totalPages-3}"
			th:unless="${jobs.totalPages < 5}"
			th:each="pageNumber : ${#numbers.sequence(jobs.number-1, jobs.number+3)}"
			th:href="@{/job/list(size=${jobs.size}, page=${pageNumber}, keyword=${keyword}, progLang=${lastSelected})}"
			th:text="' | ' + ${pageNumber} + ' | '"
			th:class="${pageNumber==jobs.number + 1} ? active"></a>
		<a
			th:if="${jobs.number > jobs.totalPages-3}"
			th:unless="${jobs.totalPages < 5}"
			th:each="pageNumber : ${#numbers.sequence(jobs.totalPages-4, jobs.totalPages)}"
			th:href="@{/job/list(size=${jobs.size}, page=${pageNumber}, keyword=${keyword}, progLang=${lastSelected})}"
			th:text="' | ' + ${pageNumber} + ' | '"
			th:class="${pageNumber==jobs.number + 1} ? active"></a>
		<a
			th:href="@{/job/list(size=${jobs.size}, page=${jobs.totalPages}, keyword=${keyword}, progLang=${lastSelected})}"
			th:text="Last"></a>
	</div>
	<br>
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>