<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<title>User Login</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div th:replace="fragments/general.html :: menu"></div>
	<br>
	<div align="center">
		<input type="button" value="Forget Password"
			onclick="window.location.href='/jobseeker/forgetpassword'; return false"
			class="btn btn-info btn-lg" />
		<input type="button" value="Sign Up"
			onclick="window.location.href='/jobseeker/signup'; return false"
			class="btn btn-info btn-lg" />
	</div>
	
	<br>
	<body class="form-bg">
	<div class="container my-form">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal"
					th:action="@{/jobseeker/authenticate}" th:object="${jobseeker}" method="post">
                <span class="heading">User Login</span>
                <div class="form-group">
                    <input type="text" th:field="*{userName}"
							class="form-control" id="inputEmail3" placeholder="User Name">
                    <i class="fa fa-user"></i>
                </div>
                <div class="form-group help">
                    <input type="password" th:field="*{password}"
							class="form-control" id="inputPassword3" placeholder="Password">
                    <i class="fa fa-lock"></i>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Login</button>
                </div>
                <div>
                <p class="error" th:text="${error}"></p>
                </div>
            </form>
        </div>
    </div>
</div>

    <br>
	<div th:replace="fragments/general.html :: footer"></div>
</body>


</html>