<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<title>Password Reset</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" media="all" type="text/css"
	th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
	<br>
	<table width="100%" class="center">
		<tr align="center">
			<td width="30%"></td>
			<td align="center" width="40%"><h1>Forget Password?</h1></td>
			<td width="30%"></td>
		</tr>
	</table>
	<br>
	<form th:action="@{/jobseeker/resetpassword}">
		<table class="center" width="40%">
			<tr>
				<td width="10%">Email Address: </td>
				<td width="30%">
					<input type="email" name="emailAddress" id="emailAddress" size="50" th:value="${emailAddress}" required />
					<p class="error" th:text="${invalidemail}"></p>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" class="btn btn-success" value="Submit" />
				</td>
			</tr>
		</table>
	</form>
	<br>
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>