<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" content="width=device-width, initial-scale=1"/>
<title>Recommendations</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" media="all" type="text/css"
	th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
	<br> 
	<div align="center">
		<input type="button" value="Edit User"
			onclick="window.location.href='/user/userdetails'; return false"
			class="btn btn-success btn-lg" />
		<input type="button" value="Jobs Listing"
			onclick="window.location.href='/job/list'; return false"
			class="btn btn-info btn-lg" /> 
		<input type="button" value="Log Out"
			onclick="window.location.href='/user/logout'; return false"
			class="btn btn-danger btn-lg" /> 
	</div>
	<br>
	
	<!-- list jobs based on Job Preference Survey -->
	<h2 th:text=${recommendBySurveyText}></h2>
	<div class="scrolling-wrapper" th:if="${not #lists.isEmpty(recommendedJobsBySurvey)}">
		<div class="card" th:each="j: ${recommendedJobsBySurvey}">
			<table>
				<tr>
					<td th:style="'display:none'" th:text=${j.id+1}>Id
				</tr>
				<tr>
					<th th:text=${j.companyName}>Name</th>
				</tr>
				<tr>
					<th class="td1" th:text=${j.jobTitle}>Title</th>
				</tr>
				<tr>
					<th><a th:href=${j.jobAppUrl} class="btn btn-success">Apply Here</a></th>
				</tr>
			</table>
		</div>
	</div>
    <br>
	<!-- list jobs based on click history -->
	<h2 th:text=${recommendByClickHistoryText}></h2>
	<div class="scrolling-wrapper" th:if="${not #lists.isEmpty(recommendedJobsByClickHistory)}">
		<div class="card" th:each="j: ${recommendedJobsByClickHistory}">
			<table>
				<tr>
					<td th:style="'display:none'" th:text=${j.id+1}>Id
				</tr>
				<tr>
					<th th:text=${j.companyName}>Name</th>
				</tr>
				<tr>
					<th class="td1" th:text=${j.jobTitle}>Title</th>
				</tr>
				<tr>
					<th><a th:href=${j.jobAppUrl} class="btn btn-success">Apply Here</a></th>
				</tr>
			</table>
		</div>
	</div>
    <br>
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>