<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<title>Edit User</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" media="all" type="text/css"
	th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
	<div align="center">
		<input type="button" value="Upload File"
			onclick="window.location.href='/jobseeker/uploadfile'; return false"
			class="btn btn-success btn-lg" /> 
		<input type="button" value="Jobs Listing"
			onclick="window.location.href='/job/list'; return false"
			class="btn btn-info btn-lg" /> 
		<input type="button" value="Log Out"
			onclick="window.location.href='/user/logout'; return false"
			class="btn btn-danger btn-lg" /> 
	</div>
	 <form action="#" th:object="${upref}" th:action="@{/jobseeker/savesurvey}" method="post">
  
  
  <h2>Preferred Roles*(min 1,max 2)</h2>
  <table class="center">
  <tr>
  	<td th:each="role:${selectableRoles}">
  		<div class="preferredRoles">
  			<input type="checkbox" th:field="*{preferredJobRole}" th:value="${role}">
  	 		<h3><label th:text="${role}"></label></h3>
  		</div>
  	</td>
  </tr>
  </table>
    
  <br><br>
  <p class="error" th:text="${error}"></p>
  
  <br>
  
  <h2>Preferred Titles*(min 1,max 2)</h2>
  <table class="center">
  <tr>
  	<td th:each="title:${selectableTitles}">
  		<div class="preferredRoles">
  			<input type="checkbox" th:field="*{preferredJobTitle}" th:value="${title}">
        	<h3><label th:text="${title}"></label></h3>
  		</div>
  	</td>
  </tr>
  </table>
  
  <br>
  <p class="error" th:text="${error}"></p>
  
  <h2>Preferred Technologies</h2>
  <table class="center">
  	<tr>
  		<td>
  			<input type="text" th:field="*{preferredTechnologies}" size=100 placeholder="Example: Java, Android, Spring Boot">
  		</td>
  	</tr>
  	<tr></tr>
  	<tr>
  		<td>
  			<input type="submit" value="Submit">
  		</td>
  	</tr>
  </table>
</form>
    <p class="center">* are compulsory</p>
	<br>
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>