<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<bean id="multipartResolver"
	class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
<property name="maxUploadSize" value="104857600" /> <property
	name="maxInMemorySize" value="4096" /> <property
	name="defaultEncoding" value="UTF-8"></property> </bean>
<meta charset="UTF-8" />
<title>Upload Resume</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" media="all" type="text/css"
	th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
	<div align="center"> 
		<input type="button" value="Jobs Listing"
			onclick="window.location.href='/job/list'; return false"
			class="btn btn-info btn-lg" /> 
		<input type="button" value="Log Out"
			onclick="window.location.href='/user/logout'; return false"
			class="btn btn-danger btn-lg" /> 
	</div>
	<table width="100%" class="center">
		<tr align="center">
			<td width="30%"></td>
			<td align="center" width="40%"><h1>Upload Resume</h1></td>
			<td width="30%"></td>
		</tr>
	</table>
	<table th:object="${user}">
		<tr>
			<td>User Name: </td>
			<td th:text=${user.userName}>userName</td>
		</tr>
		<tr>
			<td>Uploaded Resume: </td>
			<td th:if="${user.resumeUrl != null}">YES</td>
			<td th:if="${user.resumeUrl == null}">NO</td>
		</tr>
	</table>
		<div id="haha">
			<form name="Form2" th:action="@{/user/springUpload}" method="post"
				enctype="multipart/form-data">

				Resume<input type="file" name="file"> <input type="submit"
					value="Upload" />
			</form>
		</div>
		<br>
		<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>