<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<bean id="multipartResolver"
	class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
<property name="maxUploadSize" value="104857600" /> <property
	name="maxInMemorySize" value="4096" /> <property
	name="defaultEncoding" value="UTF-8"></property> </bean>
<meta charset="UTF-8" />
<title>Upload Resume</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" media="all" type="text/css"
	th:href="@{/css/style.css}" />
	
<style>
.buttonupload{
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

</style>

</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
	<div align="center"> 
		<input type="button" value="Jobs Listing"
			onclick="window.location.href='/job/list'; return false"
			class="btn btn-info btn-lg" /> 
		<input type="button" value="Log Out"
			onclick="window.location.href='/jobseeker/logout'; return false"
			class="btn btn-danger btn-lg" /> 
	</div>
	<table width="100%" class="center">
		<tr align="center">
			<td width="30%"></td>
			<td width="40%"><h1>Upload Resume</h1></td>
			<td width="30%"></td>
		</tr>
	</table>
	<table width="60%" class="center" th:object="${jobseeker}">
		<tr>
			<td align="right">User Name: </td>
			<td th:text="*{userName}">userName</td>
		</tr>
		<tr>
			<td align="right">Resume Uploaded? </td>
			<td th:if="*{resumeUrl != null}" style="color:green;">Yes</td>
			<td th:if="*{resumeUrl == null}" style="color:red;">No</td>
		</tr>
	</table>
		<form name="Form2" th:action="@{/jobseeker/springUpload}" method="post" enctype="multipart/form-data">
			<table width="60%" class="center">
				<tr>
					<td><input type="file" id="myFile" name="file" required></td>
				</tr>
				<tr>
					<input class="btn btn-primary btn-lg" type="submit" value="Upload"/>
				</tr>
			</table>
		</form>
		<br>
		<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>